{% extends 'base.html.twig' %}

{% block title %}New customer{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 offset-4">

            <form action="/customer/new" class="form-horizontal" method="POST">
                <h2>Tell us about yourself</h2>

                <div class="form-group">
                    <label for="first_name" class="col-form-label">First name</label>
                    <input type="text" class="form-control" placeholder="First name" name="first_name">
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-form-label">Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" name="last_name">
                </div>

                <div class="form-group">
                    <label for="phone_number" class="col-form-label">Phone number</label>
                    <input type="text" class="form-control" placeholder="Phone number" name="phone_number" value="{{ phone_number }}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}