<div class="col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin/booking/index">All bookings </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/booking/index/actual">Actual bookings </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/city/index">Cities</a>
        </li>
    </ul>
</div>